* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.degrees-small {
    font-size: 1.3rem;
}

h1 {
    font-size: 4rem;
}

body {
    height: 100vh;
    background-color: black;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3vh 2vw;
}
.button {
    background-color: transparent;
    border: 2px solid #cccccc;
    border-radius: 5px;
    color: #ffffff;
    transition: .3s linear;
    font-size: 1.5rem;
    font-family: Calibri, sans-serif;
    line-height: 4vh;
    padding: 0.5vw;
    outline: 0;
}

.button:not(.header__search-input):hover {
    background-color: #4a7562;
    cursor: pointer;
}
.header__search-input {
    border-right: none;
    border-left: none;
    border-radius: 0;
    padding-bottom: 1vh;
}

.button_microphone {
    border-left: none;
    border-radius: 0 0.5vw 0.5vw 0;
    margin-left: -0.4vw
}

.button_search {
    border-right: none;
    border-radius: 0.5vw 0 0 0.5vw;
    margin-right: -0.3vw;
}

.button_refresh {
    margin-right: 1vw;
}

.button_ru {
    border-left: 0;
    border-radius: 0 0.5vw 0.5vw 0;
    margin-left: -0.3vw;
    margin-right: 1vw;
}

.button_en {
    border-radius: 0.5vw 0 0 0.5vw;
}

.button_F {
    border-radius: 0.5vw 0 0 0.5vw;
}

.button_C {
    border-left: 0;
    border-radius: 0 0.5vw 0.5vw 0;
    margin-left: -0.3vw;
}

.main {
    display: flex;
    justify-content: space-between;
}

.weather {
    display: flex;
    flex-direction: column;
}

.weather__table {
    margin: 0.5vw 2vw;
}

.weather__nextDays {
    display: flex;
    margin-top: 7vh;
}

.degrees__day {
    padding-right: 0.7vw;
}

.weather__today {
    font-size: 10vh;
}

.weather__date,
.weather__time {
    font-size: 2vw;
}


.weather__today {
    display: flex;
    margin: 0.5vw 2vw;
}

.weather__humidity-wind {
    margin: 0.5vw 2vw;
}

.weather__tomorrow1,
.weather__tomorrow2,
.weather__tomorrow3 {
    margin: 0.5vw 2vw;
}

.weather__tomorrow1,
.weather__tomorrow2,
.weather__tomorrow3 {
    display: flex;
}

#map {
    height: 50vh;
    width: 23.3vw;

}

.map__block {
    margin: 0 2vw;
}